In [1]:
import numpy as np
import pandas as pd

In [3]:
df1 = pd.read_csv('train.csv')
df1

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,1183,1,0.5,1,3,1,48,0.1,120,8,...,268,1010,1152,8,3,3,1,0,0,0
1494,574,1,2.0,1,0,1,26,0.5,118,6,...,382,1364,1303,8,4,2,1,0,1,0
1495,1472,0,3.0,0,4,1,20,0.3,169,2,...,443,892,797,6,1,11,1,1,0,0
1496,1868,1,0.5,0,2,1,40,0.9,179,8,...,576,884,298,8,2,17,1,1,0,0
1497,1375,0,2.9,0,2,0,20,0.4,147,6,...,596,679,3847,8,0,12,1,0,1,3

In [4]:
df1.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [5]:
df1.duplicated().sum()

0

In [6]:
df2 = pd.read_csv('test.csv')
df2

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,881,0,1.0,0,1,0,64,0.5,160,3,...,115,636,2110,18,9,6,1,1,1,1
1,1742,1,0.5,1,5,1,43,0.9,176,3,...,356,1407,1921,9,2,3,1,1,0,2
2,1225,0,0.7,1,6,0,60,0.1,107,2,...,10,1567,2423,17,11,6,1,0,0,2
3,1970,1,0.5,1,0,1,15,1.0,132,2,...,1399,1684,1658,15,9,20,1,1,1,2
4,1186,1,0.5,1,2,0,21,0.4,160,8,...,68,584,2361,17,8,7,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
498,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
499,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
500,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
501,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [7]:
df2.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [9]:
df2.duplicated().sum()

0

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  1498 non-null   int64
 1   blue           1498 non-null   int64
 2   clock_speed    1498 non-null   float64
 3   dual_sim       1498 non-null   int64
 4   fc             1498 non-null   int64
 5   four_g         1498 non-null   int64
 6   int_memory     1498 non-null   int64
 7   m_dep          1498 non-null   float64
 8   mobile_wt      1498 non-null   int64
 9   n_cores        1498 non-null   int64
 10  pc             1498 non-null   int64
 11  px_height      1498 non-null   int64
 12  px_width       1498 non-null   int64
 13  ram            1498 non-null   int64
 14  sc_h           1498 non-null   int64
 15  sc_w           1498 non-null   int64
 16  talk_time      1498 non-null   int64
 17  three_g        1498 non-null   int64
 18  touch_screen   1498 non-null   int64
 19  wifi           1498 non-null   int64
 20  price_range    1498 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 245.9 KB

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  502 non-null    int64
 1   blue           502 non-null    int64
 2   clock_speed    502 non-null    float64
 3   dual_sim       502 non-null    int64
 4   fc             502 non-null    int64
 5   four_g         502 non-null    int64
 6   int_memory     502 non-null    int64
 7   m_dep          502 non-null    float64
 8   mobile_wt      502 non-null    int64
 9   n_cores        502 non-null    int64
 10  pc             502 non-null    int64
 11  px_height      502 non-null    int64
 12  px_width       502 non-null    int64
 13  ram            502 non-null    int64
 14  sc_h           502 non-null    int64
 15  sc_w           502 non-null    int64
 16  talk_time      502 non-null    int64
 17  three_g        502 non-null    int64
 18  touch_screen   502 non-null    int64
 19  wifi           502 non-null    int64
 20  price_range    502 non-null    int64
dtypes: float64(2), int64(19)
memory usage: 82.5 KB

In [29]:
from sklearn.feature_selection import RFECV

In [30]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedKFold

In [15]:
#without featureselection

In [17]:
X_train = df1.drop(['price_range'], axis=1)
y_train = df1.price_range

In [18]:
X_test = df2.drop(['price_range'], axis=1)
y_test = df2.price_range

In [19]:
model = DecisionTreeClassifier()

In [20]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [21]:
y_pred = model.predict(X_test)

In [22]:
y_pred

array([0, 2, 2, 2, 2, 1, 3, 0, 1, 1, 2, 2, 1, 1, 3, 0, 1, 1, 2, 2, 3, 3,
       3, 1, 0, 0, 0, 3, 2, 2, 1, 2, 0, 3, 3, 0, 3, 2, 1, 1, 2, 0, 1, 3,
       2, 3, 2, 2, 3, 3, 2, 0, 2, 1, 2, 0, 2, 0, 3, 2, 0, 1, 1, 2, 2, 1,
       0, 0, 0, 1, 2, 1, 0, 3, 2, 0, 3, 2, 0, 2, 2, 1, 0, 0, 0, 1, 0, 3,
       2, 1, 1, 3, 3, 3, 1, 2, 2, 1, 3, 0, 2, 3, 1, 0, 3, 1, 0, 2, 1, 2,
       1, 2, 3, 1, 3, 2, 3, 3, 3, 3, 2, 2, 3, 3, 1, 0, 1, 0, 0, 2, 3, 1,
       0, 3, 3, 1, 0, 3, 1, 1, 2, 2, 2, 2, 3, 1, 1, 1, 1, 0, 2, 1, 0, 1,
       1, 3, 0, 3, 1, 1, 3, 3, 1, 0, 1, 3, 2, 1, 2, 1, 1, 2, 3, 0, 1, 1,
       3, 1, 1, 2, 3, 3, 2, 1, 1, 1, 3, 3, 3, 0, 3, 2, 3, 1, 3, 2, 1, 2,
       2, 3, 0, 1, 0, 2, 2, 0, 2, 0, 1, 1, 3, 3, 0, 1, 1, 0, 2, 0, 2, 3,
       2, 0, 2, 0, 2, 0, 1, 2, 2, 3, 1, 3, 0, 0, 1, 2, 3, 3, 1, 2, 2, 1,
       3, 1, 0, 2, 1, 0, 1, 3, 1, 3, 0, 1, 3, 0, 3, 3, 3, 2, 0, 3, 1, 2,
       0, 2, 2, 3, 0, 3, 3, 1, 3, 1, 3, 0, 3, 0, 2, 1, 2, 2, 0, 3, 2, 0,
       2, 1, 0, 3, 0, 1, 3, 1, 1, 1, 3, 0, 2, 0, 1, 2, 0, 1, 3, 3, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 3, 3, 1, 0, 1, 0, 3, 1, 2, 2, 1, 2, 3,
       3, 0, 0, 1, 2, 2, 2, 1, 2, 1, 0, 2, 3, 1, 0, 3, 1, 3, 0, 0, 3, 2,
       0, 3, 0, 0, 0, 0, 3, 3, 2, 0, 0, 0, 1, 3, 0, 2, 3, 1, 3, 2, 3, 3,
       1, 0, 2, 1, 0, 1, 1, 0, 1, 1, 0, 1, 3, 1, 1, 2, 0, 3, 1, 0, 0, 3,
       0, 2, 0, 3, 3, 0, 1, 2, 2, 2, 3, 0, 0, 2, 2, 1, 2, 0, 2, 0, 1, 2,
       1, 0, 2, 0, 3, 1, 0, 1, 2, 2, 1, 3, 0, 2, 3, 1, 1, 1, 2, 1, 3, 2,
       1, 2, 2, 3, 1, 1, 0, 0, 1, 3, 0, 2, 1, 0, 1, 3, 1, 3, 0, 3, 2, 1,
       2, 0, 1, 1, 2, 0, 3, 0, 0, 3, 2, 1, 0, 3, 0, 3, 0, 2, 1, 1, 1, 1,
       2, 2, 1, 3, 1, 0, 1, 1, 0, 3, 1, 3, 3, 0, 2, 3, 0, 3])

In [23]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [24]:
classification_report(y_test, y_pred)

'              precision    recall  f1-score   support\n\n           0       0.88      0.86      0.87       125\n           1       0.71      0.77      0.74       129\n           2       0.73      0.68      0.70       127\n           3       0.87      0.87      0.87       121\n\n    accuracy                           0.79       502\n   macro avg       0.80      0.79      0.79       502\nweighted avg       0.79      0.79      0.79       502\n'

In [25]:
accuracy_score(y_test, y_pred)

0.7928286852589641

In [26]:
#now using feature selection

In [73]:
rfe = RFECV(DecisionTreeClassifier(), cv=StratifiedKFold(3))

In [74]:
rfe.fit(X_train, y_train)
rfe.fit(X_test, y_test)

RFECV(cv=StratifiedKFold(n_splits=3, random_state=None, shuffle=False),
      estimator=DecisionTreeClassifier())

In [75]:
X_train1 = rfe.transform(X_train)
X_test1 = rfe.transform(X_test)

In [76]:
model.fit(X_train1, y_train)

DecisionTreeClassifier()

In [77]:
y_pred1 = model.predict(X_test1)

In [78]:
y_pred1

array([1, 2, 2, 2, 2, 1, 3, 0, 1, 1, 2, 2, 1, 1, 3, 0, 1, 1, 2, 2, 3, 3,
       3, 1, 1, 0, 0, 3, 2, 3, 1, 2, 0, 3, 3, 0, 3, 2, 1, 2, 2, 0, 1, 3,
       2, 3, 2, 2, 3, 3, 2, 1, 2, 1, 2, 0, 2, 0, 3, 2, 0, 1, 2, 2, 2, 1,
       0, 0, 0, 2, 2, 1, 0, 3, 2, 0, 3, 2, 0, 2, 2, 1, 0, 0, 0, 1, 0, 3,
       1, 1, 2, 3, 3, 2, 1, 2, 1, 2, 3, 0, 2, 3, 1, 0, 3, 1, 0, 2, 1, 2,
       1, 2, 3, 1, 3, 2, 3, 3, 3, 3, 2, 2, 3, 3, 1, 0, 1, 0, 0, 2, 3, 1,
       0, 3, 3, 1, 0, 3, 2, 1, 2, 3, 2, 2, 3, 1, 1, 1, 1, 0, 2, 1, 0, 1,
       0, 3, 0, 3, 1, 1, 3, 3, 1, 0, 1, 3, 2, 1, 2, 1, 1, 1, 3, 0, 1, 2,
       3, 1, 1, 2, 3, 3, 1, 1, 2, 1, 3, 3, 3, 0, 3, 2, 3, 1, 3, 3, 1, 2,
       3, 3, 0, 1, 0, 2, 2, 0, 2, 0, 1, 1, 3, 3, 0, 1, 1, 0, 2, 0, 2, 3,
       2, 0, 2, 0, 2, 0, 1, 1, 2, 3, 1, 3, 0, 0, 1, 2, 3, 3, 1, 2, 1, 1,
       3, 1, 0, 3, 1, 0, 1, 2, 1, 3, 0, 1, 3, 0, 3, 3, 3, 2, 0, 3, 1, 2,
       0, 2, 2, 2, 0, 3, 3, 0, 3, 1, 3, 0, 2, 0, 2, 0, 3, 3, 0, 3, 2, 0,
       2, 1, 1, 3, 1, 1, 3, 1, 1, 1, 3, 0, 1, 0, 1, 2, 0, 1, 3, 3, 0, 2,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 3, 3, 1, 0, 1, 0, 3, 1, 2, 2, 0, 2, 3,
       3, 0, 0, 1, 2, 2, 2, 1, 2, 1, 0, 2, 3, 1, 0, 3, 1, 3, 0, 0, 3, 3,
       0, 3, 0, 0, 0, 0, 3, 3, 2, 0, 0, 0, 1, 3, 0, 3, 3, 2, 3, 3, 3, 2,
       1, 0, 2, 1, 0, 1, 1, 0, 2, 1, 0, 0, 3, 0, 1, 2, 0, 3, 1, 0, 0, 3,
       0, 2, 0, 3, 3, 0, 1, 2, 2, 2, 3, 0, 1, 2, 2, 1, 3, 0, 2, 0, 0, 2,
       1, 0, 2, 0, 3, 1, 0, 2, 1, 2, 1, 3, 0, 2, 3, 1, 1, 1, 2, 1, 3, 2,
       1, 2, 2, 3, 1, 0, 0, 0, 0, 2, 0, 2, 1, 0, 1, 3, 0, 3, 0, 3, 3, 1,
       2, 0, 1, 1, 2, 0, 3, 0, 0, 2, 2, 1, 0, 3, 1, 3, 0, 2, 1, 2, 1, 1,
       2, 2, 1, 3, 1, 0, 1, 1, 0, 3, 1, 3, 3, 0, 2, 3, 0, 3])

In [79]:
classification_report(y_test, y_pred1)

'              precision    recall  f1-score   support\n\n           0       0.92      0.93      0.92       125\n           1       0.80      0.81      0.80       129\n           2       0.81      0.76      0.78       127\n           3       0.90      0.93      0.91       121\n\n    accuracy                           0.86       502\n   macro avg       0.86      0.86      0.86       502\nweighted avg       0.86      0.86      0.86       502\n'

In [80]:
accuracy_score(y_test, y_pred1)

0.8565737051792829

In [81]:
rfe.n_features_

4

In [82]:
#selected Features 
feature_selected = X_train.columns[rfe.get_support()]
feature_selected

Index(['battery_power', 'px_height', 'px_width', 'ram'], dtype='object')

In [ ]:
#Conclusion:
# Therefore from the above results we can observe that without using 'RFECV' the acuuracy was 79% but after using RFECV the accuracy was
# increased by 6% i.e., we got 85%. So also the four important features we can considerd for this data as 'battery_power', 'px_height', 
# 'px_width', 'ram'
# and also here i tried with different crossvalidation values from a range of 1 to 10 . I got highest for CV=3 so i considered CV as 3